/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App{
  background-color: rgb(242, 243, 243);
  /* height: 100%; */
  padding-bottom: 4rem;
  padding-top: 1rem;
}